@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  :root {
    --color-bkg: 255 255 255;
    --color-content: 30 41 59l --color-accent1: 245 208 254;
    --color-accent2: 153 246 227;
    --color-hover: 206 220 227;
    --color-bkg2: 245 245 245;
  }
  :root[data-theme='light'] {
    --color-bkg: 255 255 255;
    --color-content: 30 41 59;
    --color-accent1: 209 116 232;
    --color-accent2: 153 246 227;
    --color-hover: 206 220 227;
    --color-bkg2: 245 245 245;
  }
  :root[data-theme='dark'] {
    --color-bkg: 81 80 86;
    --color-content: 192 194 194;
    --color-accent1: 212 58 251;
    --color-accent2: 20 226 185;
    --color-hover: 182 188 191;
    --color-bkg2: 60 60 60;
  }
  :root[data-theme='cool'] {
    --color-bkg: 255 255 255;
    --color-content: 30 41 59;
    --color-accent1: 209 116 232;
    --color-accent2: 153 246 227;
    --color-hover: 206 220 227;
    --color-bkg2: 245 245 245;
  }
  :root[data-theme='purple'] {
    --color-bkg: 255 255 255;
    --color-content: 30 41 59;
    --color-accent1: 209 116 232;
    --color-accent2: 153 246 227;
    --color-hover: 206 220 227;
    --color-bkg2: 245 245 245;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 2em;
  }
}
